{% load extras %}
<!DOCTYPE html>
<html>

<head> 
  <title>{{ sous_theme }}</title>
  <style>   
    table.mon_tableau  {
        border-collapse: collapse;
    }
    table.mon_tableau td {
       border: 1px solid black;
       padding: 0.3px;
       font-family: "Sans-serif";
       font-size: 16px;
    }
    table.mon_tableau th {
       border: 1px solid black;
       padding: 0.3px;
       font-family: "Sans-serif";
       font-size: normal;
    }
    table.mon_tableau tr:nth-child(even)  {background: beige}
    table.mon_tableau tr:nth-child(odd) {background: ivory}
  </style>
</head>

<body>

<h1>La liste des articles du sous-thématique : {{ sous_theme }}</h1>

<p>Retourner à la liste des <a href="/appli_covid19/theme/{{ theme }}">sous-thématiques</a></p>

<table class="mon_tableau">
{% for a in articles_sous_themes %}
<tr> 
  <th>
    {{ a.title }} 
  </th> 
</tr>

<tr> 
  <td>      
  <ul>
  <li> 
    {% if a.publish_time != NULL %}
    Sa date de parution : {{ a.publish_time }}
    {% else %}
    Sa date de parution est inconnue
    {% endif %}
  </li>
  <li> 
      {% if a.journal == NULL or a.journal.name == 'NULL'  %}
      Journal inconnue
      {% else %}
      Journal : {{ a.journal }}
      {% endif %}
  </li>
    {% if a.studylink  != NULL  %}
    <li>Lien :
    {% with a.studylink|split:";" as links %}
    {% for link in links  %}
     <a href="{{  link  }}">{{  link  }}</a>
    {% endfor %}
    {% endwith %}
    </li>
    {% endif %}
    
  <li>
    {% if a.abstract != NULL %}
    Résumé : {{ a.abstract }}
    {% else %}
    Pas de résumé disponible
    {% endif %}
  </li>
</ul>
</td> 
</tr>

{% endfor %}
</table>

<p>Retourner à la liste des <a href="/appli_covid19/theme/{{ theme }}">sous-thématiques</a></p>

</body>
</html>
